extend layout
block extraHeader
	link(rel='stylesheet',href='/css/bans.css')

block content
		table.table
			tr
				th Player
				th Ban Reason
				th Admin
				th Length
				th Remaining
			tr

block externalscripts
	script(src='/js/bans.js')