doctype html
html
	head
		title Let's PlayTF2 - #{title}

		link(rel='stylesheet',href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')

		// script for string.format javascript
		script(type='text/javascript').
			if (!String.prototype.format) {
			String.prototype.format = function() {
				var args = arguments;
				return this.replace(/{(\d+)}/g, function(match, number) { 
					return typeof args[number] != 'undefined'
						? args[number]
						: match
					;
				});
			};
			}

		block extraHeader
	body
		nav.navbar.navbar-default
			.container-fluid
				.navbar-header
					include ./menu.jade

		//.container
			.row
				img(src='/img/header.png', alt='Lets PlayTF2')
			
			#menu.row
				
		wrapper
		#wrapper
			block content

		script(src='//code.jquery.com/jquery-2.1.1.min.js')
		script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
		block externalscripts