extend layout
block extraHeader
	link(rel='stylesheet',href='/css/stats.css')
	
block content
	table(class='table')
		tr
			th Rank
			th Player
			th Reputation

block externalscripts
	script(src='/js/rep.js')