extend layout
block extraHeader
	link(rel='stylesheet',href='/css/stats.css')
	
block content
	table(class='table')
		tr
			th Rank
			th Player
			th Elo
			th Kills
			th Deaths
	
	#pager.btn-group
		button#prev.pagesel.btn.btn-default Prev Page
		button#next.pagesel.btn.btn-default Next Page

block externalscripts
	script(src='/js/stats.js')