@font-face{
	font-family: tf2;
	src: url(tf2build.ttf);
}

* {
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;	
}

body{
	margin-top: 5vh;
	font-family: 'tf2',Verdana;
	top: 0;
	left: 0;
	background-color: #dedddc;
	width:75%;
	margin-left: auto;
	margin-right: auto;
}

header img{
	width:100%;
}

.round{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.flex{
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
}

#menu{
	margin:auto;
	width: 60%;
	justify-content: space-around;
	margin-bottom: 2%;
}

#wrapper{
	margin:auto;
	width: 75%;	
}

#content{
	padding: 2%;
	background-color: #f7f7f7;
}

.button {
	font-size: 1.5vw;
	text-align: center;
	cursor:pointer;
	padding: 1.5% 1.5% 1% 1.5%;
	color: #f7f7f7;
	background-color: #2f2e2c;
}

.button a{ color: inherit; text-decoration:none; }

#button:hover{
	padding: 1.5% 1.5% 1% 1.5%;
	color: #2f2e2c;
	background-color: #f7f7f7;
}

#content #server{margin-top: 1em;text-align: center; justify-content: space-between;}
#content #server #ip{margin-top: 1em;}
#content #server #stats{margin-top: 2.5%;}
#content #server img{height: 125px;}
#content #server .green{color: green;}