@font-face{
	font-family: tf2;
	src: url(tf2build.ttf);
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

*{
	color: white;
	font-family: sans-serif, normal;
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
}

img#bg {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: -1;
}

#title{
	margin-top: 3%;
	text-align: center;
	font-family: 'tf2', serif;
	font-weight: 400;
	font-size: 400%;
	text-decoration:underline
}

#content {
	margin:auto;
	width: 75%;
	background-color: #443d6b;
}

#bottom{
	padding-left: 5%;
	font-size: 10px;
	font-weight: bold;	
}

#outline{
	position: relative;
	padding: 0 3% 3% 3%;
	margin: auto;
	margin-top: 15px;
	width: 97%;
	border-style: solid;
	border-width: 2px;
	

	/* the grid style lines */
	background-color: #443d6b;
	background-image: linear-gradient(white 0px, transparent 0px),
	linear-gradient(90deg, white 0px, transparent 0px),
	linear-gradient(#5f587f 1px, transparent 1px),
	linear-gradient(90deg, #5f587f 1px, transparent 1px);
	background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
}